{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <h1>All Records</h1>
    <form method="post" action="{% url 'all_records' %}" class="row g-5">
        {% csrf_token %}
        <div class="col-md-4">
            <label for="filter_name" class="form-label">Name</label>
            {{ form.filter_name }}
        </div>
        <div class="col-md-4">
            <label for="filter_id" class="form-label">Employee ID </label>
            {{ form.filter_id }}
        </div>
        <div class="col-md-2">
            <label for="from_date" class="form-label">From Date</label>
            {{ form.from_date }}
        </div>
        <div class="col-md-2">
            <label for="to_date" class="form-label">To Date</label>
            {{ form.to_date }}
        </div>
        <div class="col-md-1">
            <button type="submit" name="submit_type" value="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-2">
            <button type="submit" name="submit_type" value="download" class="btn btn-success">Download Data</button>
        </div>
    </form>
    <br>
</div>
<div class="container">
    <table class="table table-striped table-hover table-bordered" id="records_table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Clocked Time</th>
                <th scope="col">In/Out</th>
                <th scope="col">Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td scope="col">{{ record.em_id }}</td>
                <td class="col-2" scope="row">{{ record.name }}</td>
                <td class="col-2" scope="row">{{ record.role }}</td>
                <td class="col-2" scope="row">{{ record.clocked_time }}</td>
                <td scope="col">
                    {% if record.clocking_type == True %}
                    Clock In
                    {% else %}
                    Clock Out
                    {% endif %}
                </td>
                <td class="col-2" scope="row">{{ record.remark }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}